* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #ffd60a;
  --rich-black: #000814;
  --transparent-black-background: rgba(0, 0, 0, 0.5);
}

body {
  background: url("img/background.jpg") center/cover;
  font-family: "Montserrat", sans-serif;
}

#content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* ---------------- HEADER STYLING ---------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--transparent-black-background);
  padding: 2rem 0;
}

.restaurant-name {
  color: var(--gold);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  column-gap: 2rem;
}

.btn {
  padding: 0.75rem;
  background: black;
  color: white;
  border: 1px solid var(--gold);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--gold);
  color: var(--rich-black);
  border: 1px solid var(--rich-black);
}

/* ---------------- MAIN STYLING ---------------- */

.main {
  padding: 2rem;
  background-color: var(--transparent-black-background);
  border: 1px solid var(--gold);
}

.main img {
  width: 800px;
  padding: 2rem;
}

.main p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* ---------------- FOOTER STYLING ---------------- */

.credit-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--transparent-black-background);
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
  width: 100%;
}

.credit-container a {
  color: white;
  text-decoration: none;
}

.credit-container a:hover {
  color: var(--gold);
}
