* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #ffd60a;
  --rich-black: #000814;
  --transparent-black-background: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("ttf"),
    url("./fonts/Montserrat-SemiBold.ttf") format("ttf")
      url("./fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  background: url("img/background.jpg") center;
  font-family: "Montserrat", sans-serif;
}

#content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* ---------------- HEADER STYLING ---------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--transparent-black-background);
  padding: 2rem 0;
}

.restaurant-name {
  color: var(--gold);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  column-gap: 2rem;
}

.btn {
  padding: 0.75rem;
  background: black;
  color: white;
  border: 1px solid var(--gold);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--gold);
  color: var(--rich-black);
  border: 1px solid var(--rich-black);
}

/* ---------------- MAIN STYLING ---------------- */

.main {
  padding: 2rem;
  background-color: var(--transparent-black-background);
  border: 1px solid var(--gold);
  max-width: 1200px;
}

.main img {
  width: 800px;
  padding: 2rem;
}

.main p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* ---------------- FOOTER STYLING ---------------- */

.credit-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--transparent-black-background);
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
  width: 100%;
}

.credit-container a {
  color: white;
  text-decoration: none;
}

.credit-container a:hover {
  color: var(--gold);
}

/* ---------------- MENU STYLING ---------------- */

.category {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  text-decoration: underline;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 3rem;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  /* width: 500px; */
}

.item img {
  width: 200px;
  height: 100%;
  padding: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
}

.item-details .name {
  font-size: 1.25rem;
}

.item-details .desc {
  font-size: 1.1rem;
}

.item .name {
  color: black;
}

.item .desc {
  color: #777;
}

.item-price {
  position: absolute;
  right: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 10px;
}
