:root {
  --mikado-yellow: #ffc300;
  --rich-black: #000814;
  --gold: #ffd60a;
  --yale-blue: #003566;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--rich-black);
  color: white;
}

#content {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  /* background: url("really-rad-ramen-background.jpg") no-repeat center/cover; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  border: 2px dotted white;
  background: var(--yale-blue);
}

/* .header {
  background-color: rgba(119, 119, 119, 0.7);
} */

.restaurant-title {
  color: var(--mikado-yellow);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--mikado-yellow);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  gap: 40px;
  justify-content: space-around;
}

.btn {
  padding: 10px 0;
  background: black;
  color: white;
  border: 2px solid var(--mikado-yellow);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: #ffd60a;
  color: #000814;
  border: 2px solid #000814;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-self: center;
}

.restaurant-img {
  display: block;
  margin: 20px auto;
}

.restaurant-blurb {
  text-align: center;
  width: 80%;
  /* height: min-content; */
  /* display: block; */
  margin: 20px auto;
  font-size: 1.25rem;
  line-height: 2;
  /* background-color: rgba(100, 100, 100, 0.8); */
}

.credit {
  align-self: end;
  text-align: center;
}

.credit a {
  color: white;
}
